@font-face {
  font-family: 'Chakra Petch';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(cIfnMapbsEk7TDLdtEz1BwkWmpLJQp_A.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(cIfkMapbsEk7TDLdtEz1BwkWmqpl.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(cIfnMapbsEk7TDLdtEz1BwkWmpKRQ5_A.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(cIfnMapbsEk7TDLdtEz1BwkWmpK9RJ_A.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(cIfnMapbsEk7TDLdtEz1BwkWmpLZRZ_A.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(cIflMapbsEk7TDLdtEz1BwkeNIhFQA.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(cIf6MapbsEk7TDLdtEz1BwkmmA.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(cIflMapbsEk7TDLdtEz1BwkebIlFQA.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(cIflMapbsEk7TDLdtEz1BwkeQI5FQA.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(cIflMapbsEk7TDLdtEz1BwkeJI9FQA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(k3kyo80MPvpLmixYH7euCxWpSMu3-gcWGj0hHAKGvUQlUv_bCKDUSzB5L0oiFuRR.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(k3kyo80MPvpLmixYH7euCxWpSMu3-gcWGj0hHAKGvUQlUv_bCKDUSzB5L0qiF-RR.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(k3kyo80MPvpLmixYH7euCxWpSMu3-gcWGj0hHAKGvUQlUv_bCKDUSzB5L0p8F-RR.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(k3kyo80MPvpLmixYH7euCxWpSMu3-gcWGj0hHAKGvUQlUv_bCKDUSzB5L0oiF-RR.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(k3kyo80MPvpLmixYH7euCxWpSMu3-gcWGj0hHAKGvUQlUv_bCKDUSzB5L0oQF-RR.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(k3kyo80MPvpLmixYH7euCxWpSMu3-gcWGj0hHAKGvUQlUv_bCKDUSzB5L0r8EORR.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(k3kyo80MPvpLmixYH7euCxWpSMu3-gcWGj0hHAKGvUQlUv_bCKDUSzB5L0rFEORR.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(k3kyo80MPvpLmixYH7euCxWpSMu3-gcWGj0hHAKGvUQlUv_bCKDUSzB5L0qiEORR.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(k3kyo80MPvpLmixYH7euCxWpSMu3-gcWGj0hHAKGvUQlUv_bCKDUSzB5L0qLEORR.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(-W_7XJnvUD7dzB2KZeJ8TkM.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(-W_6XJnvUD7dzB2KZeLQb2Mr.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(-W_6XJnvUD7dzB2KZeK0bGMr.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(-W_9XJnvUD7dzB2KZdoY.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(-W_6XJnvUD7dzB2KZeLsbWMr.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(-W_6XJnvUD7dzB2KZeLAamMr.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(-W_6XJnvUD7dzB2KZeKka2Mr.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(-W_6XJnvUD7dzB2KZeK4aGMr.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(-W_6XJnvUD7dzB2KZeKcaWMr.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(-W_9XJnvUD7dzB2CA9oY.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(-W_8XJnvUD7dzB2Cr_s4bg.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(-W_8XJnvUD7dzB2Cy_g4bg.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(-W__XJnvUD7dzB26Zw.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(-W_8XJnvUD7dzB2Ck_k4bg.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(-W_8XJnvUD7dzB2Cv_44bg.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(-W_8XJnvUD7dzB2C2_84bg.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(-W_8XJnvUD7dzB2Cx_w4bg.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(-W_8XJnvUD7dzB2C4_04bg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(DtVnJx26TKEr37c9aBBx_nwM.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(DtVkJx26TKEr37c9aBBxUl0s7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(DtVkJx26TKEr37c9aBBxNl4s7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(DtVhJx26TKEr37c9aBBJmg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(DtVkJx26TKEr37c9aBBxbl8s7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(DtVkJx26TKEr37c9aBBxQlgs7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(DtVkJx26TKEr37c9aBBxJlks7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(DtVkJx26TKEr37c9aBBxOlos7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(DtVhJx26TKEr37c9YHZJmg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(DtVmJx26TKEr37c9YNpoulw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(DtVmJx26TKEr37c9YL5rulw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(DtVjJx26TKEr37c9WBI.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(DtVmJx26TKEr37c9YOZqulw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(DtVmJx26TKEr37c9YMptulw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(DtVmJx26TKEr37c9YK5sulw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(DtVmJx26TKEr37c9YLJvulw.ttf) format('truetype');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url(1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url(1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapbCIPrQ.ttf) format('truetype');
}

