/*--------------------------------------------------------------

Template: Theme Name
Author:
Version:  1
Design and Developed by:

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here:
-------------------------------------------------------*/

/*
================================================
nav-tabs
================================================
*/

.nav>li>a {
    font-size: 14pt;
    font-weight: 500;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: inherit;
}

.nav-tabs {
    border-bottom: none;
    position: relative;
    margin-bottom: -1px;
}

.tab-content {
    border: 1px solid #e8e8e8;
    padding: 15px;
    margin-bottom: 20px;
}

.nav-tabs>li>a {
    border: 1px solid #e8e8e8;
    border-bottom: none;
    background: #f5f5f5;
    padding: 5px 15px;
    margin-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #444;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    font-family: 'Prompt', sans-serif;
    font-size: 12pt;
    font-weight: normal;
}

.nav-tabs>li {
    margin-right: 4px;
    /* ระยะห่างระหว่าง teb */
}

.nav-tabs>li.active {
    /* border-top: 3px solid #6f7a9f; */

    border-top: 3px solid #a01d29;
    /* กำหนดสีบน teb */
}

.nav-tabs>li.active a,
.nav-tabs>li.active a:hover,
.nav-tabs>li.active a:active,
.nav-tabs>li.active a:focus {
    border-bottom: 0;
    border-top: 0;
}

.has-divider {
    border-bottom: 1px dotted #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.row-divider {
    border-bottom: 1px dotted #e8e8e8;
    padding: 10px 0;
}

.tabin-date-label {
    background: #f5f5f5;
    display: inline-block;
    width: 50px;
    height: 70px;
    text-align: center;
    font-size: 13px;
}

.tabin-date-label .month {
    background: #6f7a9f;
    color: #fff;
    display: block;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Maitree', serif;
    font-size: 14pt;
}

.tabin-date-label .date-number {
    clear: left;
    display: block;
    padding-top: 5px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'Maitree', serif;
    font-size: 16pt;
    font-weight: 200;
    color: dimgrey;
}

.tabin-data-detail {
    margin: 0px;
}

.tabin-data-detail h3 {
    font-family: 'Itim', cursive;
}

.tabin-data-detail .tabdesc {
    font-family: 'Maitree', serif;
    font-size: 12pt;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}

.tabin-data-detail .tabcby {
    font-family: Tahoma, "Microsoft Sans Serif";
    /*font-family: 'Maitree', serif;
	 font-size: 0.95em; */
    font-size: 12px;
    color: rgba(179, 179, 179, 1.00)
}

/* Responsive สำหรับ Moblie */
@media (max-width: 768px) {
    .nav-tabs {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .nav-tabs > li {
        margin: 0 0 5px 0;
    }

    .nav-tabs > li > a {
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }

    .tab-content {
        padding: 10px;
        font-size: 14px;
    }

    .tabin-date-label {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px;
        font-size: 12px;
    }

    .tabin-date-label .month,
    .tabin-date-label .date-number {
        font-size: 14px;
        padding: 3px 5px;
        margin-right: 5px;
    }

    .tabin-data-detail h3 {
        font-size: 18px;
    }

    .tabin-data-detail .tabdesc {
        font-size: 14px;
    }

    .tabin-data-detail .tabcby {
        font-size: 11px;
    }

    .row-divider,
    .has-divider {
        padding: 5px 0;
    }
}

/* Responsive สำหรับ Tablet (แนวตั้งและแนวนอน) */
@media (min-width: 768px) and (max-width: 991px) {
    .nav-tabs {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5px;
        margin-bottom: 10px;
    }

    .nav-tabs > li {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .nav-tabs > li > a {
        font-size: 14px;
        padding: 8px 12px;
    }

    .tab-content {
        padding: 12px;
        font-size: 15px;
    }

    .tabin-date-label {
        width: 60px;
        height: auto;
        font-size: 13px;
    }

    .tabin-date-label .month {
        font-size: 16px;
    }

    .tabin-date-label .date-number {
        font-size: 18px;
    }

    .tabin-data-detail h3 {
        font-size: 20px;
    }

    .tabin-data-detail .tabdesc {
        font-size: 13pt;
    }

    .tabin-data-detail .tabcby {
        font-size: 12px;
    }

    .row-divider,
    .has-divider {
        padding: 8px 0;
    }
}




